<%
  useless_code=measure('total-useless-lines')
  if useless_code
%>
<table width="100%">
  <tbody>
    <tr>
      <td valign="top">
        <div class="dashbox">
          <p class="title">Useless Code</p>
          <p><span class="big"><%= format_measure(useless_code)%></span><%= tendency_icon('total-useless-lines') %></p>
          <p><%= format_measure(measure('useless-duplicated-lines'), :suffix => ' duplicated',:url => url_for_drilldown('duplicated_lines'), :default => '0 duplicated')%><%= tendency_icon('useless-duplicated-lines') %></p>
        </div>
      </td>
      <td valign="top">
        <div class="dashbox">
          <p class="title"></p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<%
  end
%>